#heading {
    color: black;
    font-family: sans-serif;
    text-align: center;
    border-radius: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding:25px;
    font-weight: 700;
    font-size: 40px;
}
.flex-container {
    display: flex;
    height: 600px;
    border: 0;
    
}

.flex-child {
    flex: 1;
    border: 0px solid yellow;
    height: 620px;
    background-color: #e6e6e6;
    overflow: hidden;
}  

.cropped-ofp {
width:100%; 
object-fit: cover;
object-position: 25% 25%; 
}
#_form{
        text-align: center;
    padding-top: 150px;
}
#click {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 12px;
  font-weight: 600;
  color: white;
  background-color: black;
  font-size: 24px;}

#click:hover{
    background-color: gray;
    color: black;
}
#body{margin:0px}