h2{
	padding: 4px 5px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 700;
}



.left-sidebar{
	float: left;
    width: 25%;
    height: 100%;
    background-color:#c7cfdf;
    
    margin-right: 0px;
}
.mainscreen{
	padding-left: 10px;
	float: right;
    width: 75%;
    height: auto;

}
#dropdownMenuButton1:hover{
	filter: invert(1);
}
#profile:hover{
filter: brightness(110%);
}



#side{
	padding-top: 15%;
        padding-left: 0px;
    width: 100%;
    list-style-type: none;
}

#side li{
    padding: 7px 1%;
    border-radius: 15px;
    margin: 17px 5px;
    background-color: #f7f7f1;
    font-size: 4vh;
    font-weight: 700;
    text-align: center;

}
.list-group li:hover{
	cursor: pointer;
	filter: brightness(70%);
}
a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: 'DM sans';
	margin: 0px;
	    background-color: whitesmoke;
}
#up{
	float: right;
	 width: 75%;
	 padding: 0 0;
	 margin:0px;
	 background-color: #c9cfdd;
	 text-align: right;
	 display: inline-block;

}
#up li{
	display: inline-flex;
	    padding: 5 15px;
	font-size: 20px;
	font-weight: bolder;
	color: white;
	 background-color: inherit;
	}
#up_2{
	float: right;
	 width: 75%;
	 padding: 0 0;
	 margin:0px;
	 background-color: #2c2c60;
	 text-align: left;
	 display: inline-block;

}
#up_2 li{
	display: inline-flex;
	    padding: 5 15px;
	font-size: 24px;
	color: white;
	background-color: inherit;
	}

.card{
	z-index: -1;
	height:15em;
	margin: 5px;
	
	width: 23vw;
}
.col {
	padding: 0px;
}

#card1{
	width:23vw;
	
}
#card2{
	width:48vw;
	
}
.card-img-top{
	height:200px;
	width: 200px;
	padding: 10px;
	align-self: center;
}
.list-group-item{
	border: none;
}

#dropdownMenuButton1{
	z-index: 1;
	background-color: inherit;
	font-size: inherit;
	border: none;
}
.list-group-item{
	background-color: transparent;
	color: inherit;
}

.list-group-item.active{
	background-color: black;
	padding: none;
	border-radius: none;
}
#logo{
	    height: 6vw;
    width: 20vw;
    float: right;
    margin-top: 0px;
    margin-right: 30px;
    scale: 1.2;
}
