* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v145_1124 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v204_6691 {
  width: 282px;
  height: 1024px;
  background: rgba(196,206,225,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v204_6692 {
  width: 282px;
  height: 73px;
  background: rgba(196,207,225,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 133px;
  left: 7px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v204_6694 {
  width: 282px;
  height: 73px;
  background: rgba(196,207,225,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 206px;
  left: 0px;
  overflow: hidden;
}
.v204_6695 {
  width: 263px;
  height: 49px;
  background: rgba(234,233,228,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 9px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v204_6696 {
  width: 245px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 18px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v204_6698 {
  width: 282px;
  height: 73px;
  background: url("../images/v204_6698.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v204_6699 {
  width: 263px;
  height: 49px;
  background: rgba(234,233,228,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 9px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v204_6700 {
  width: 245px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 18px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v204_6702 {
  width: 282px;
  height: 73px;
  background: rgba(196,207,225,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 328px;
  left: 1px;
  overflow: hidden;
}
.v204_6703 {
  width: 263px;
  height: 49px;
  background: rgba(234,233,228,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 9px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v204_6704 {
  width: 245px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 18px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v204_6706 {
  width: 282px;
  height: 65px;
  background: url("../images/v204_6706.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 401px;
  left: 2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v204_6707 {
  width: 263px;
  height: 49px;
  background: rgba(234,233,228,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 9px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v204_6708 {
  width: 135px;
  height: 17px;
  background: url("../images/v204_6708.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 72px;
  overflow: hidden;
}
.v204_6709 {
  width: 11px;
  height: 12px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 123px;
}
.v204_6710 {
  width: 11px;
  height: 12px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 108px;
}
.v204_6711 {
  width: 11px;
  height: 12px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 94px;
}
.v204_6712 {
  width: 10px;
  height: 12px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 80px;
}
.v204_6713 {
  width: 12px;
  height: 17px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 64px;
}
.v204_6714 {
  width: 11px;
  height: 12px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 50px;
}
.v204_6715 {
  width: 11px;
  height: 12px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 36px;
}
.v204_6716 {
  width: 7px;
  height: 14px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 25px;
}
.v204_6717 {
  width: 7px;
  height: 14px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 15px;
}
.v204_6718 {
  width: 15px;
  height: 16px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.name {
  color: #fff;
}
.v204_6720 {
  width: 282px;
  height: 67px;
  background: rgba(49,62,93,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 472px;
  left: 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v204_6721 {
  width: 263px;
  height: 49px;
  background: rgba(234,233,228,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v204_6722 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 44px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v204_6839 {
  width: 100%;
  height: 65px;
  background: url("../images/v204_6839.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 281px;
  overflow: hidden;
}
.v204_6770 {
  width: 100%;
  height: 76px;
  background: rgba(196,207,225,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 281px;
  overflow: hidden;
}
.v204_6771 {
  width: 267px;
  height: 74px;
  background: url("../images/v204_6771.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 878px;
  overflow: hidden;
}
.v204_6772 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 85px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
  font-family: Outfit;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v204_6774 {
  width: 54px;
  height: 63px;
  background: url("../images/v204_6774.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 187px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v204_6783 {
  width: 127px;
  height: 46px;
  background: url("../images/v204_6783.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 762px;
  overflow: hidden;
}
.v204_6785 {
  width: 21px;
  height: 19px;
  background: rgba(196,207,225,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 16px;
  border: 3px solid rgba(255,255,255,1);
}
.v204_6786 {
  width: 9px;
  height: 5px;
  background: rgba(196,207,225,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 22px;
  border: 2.5px solid rgba(255,255,255,1);
}
.v204_6787 {
  width: 26px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 50px;
  overflow: hidden;
}
.v204_6788 {
  width: 22px;
  height: 27px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}
.v222_3843 {
  width: 277px;
  height: 62px;
  background: rgba(51,51,51,0.5);
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 292px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v222_3846 {
  width: 108px;
  color: rgba(243,248,254,1);
  position: absolute;
  top: 15px;
  left: 18px;
  font-family: Lexend;
  font-weight: Light;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v222_3848 {
  width: 103px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 14px;
  left: 156px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-family: Lexend;
  font-weight: Light;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v427_3646 {
  width: 100%;
  height: 599px;
  background: url("../images/v427_3646.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 401px;
  left: 284px;
  overflow: hidden;
}
.v427_3647 {
  width: 100%;
  height: 542px;
  background: rgba(196,207,225,0.5600000023841858);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 17px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v427_3648 {
  width: 23px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 53px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v427_3649 {
  width: 128px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 145px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v427_3650 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 354px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v427_5188 {
  width: 119px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 511px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v449_3261 {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 653px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v427_5192 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 764px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v427_5206 {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 840px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v427_3654 {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 80px;
  left: 32px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v427_3655 {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 137px;
  left: 32px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v427_3656 {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 191px;
  left: 32px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v427_5189 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 78px;
  left: 556px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v449_3262 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 77px;
  left: 688px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v449_3263 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 133px;
  left: 688px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v449_3264 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 190px;
  left: 687px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v427_5193 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 78px;
  left: 782px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v427_5207 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 77px;
  left: 876px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v427_5208 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 133px;
  left: 876px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v427_5209 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 186px;
  left: 876px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v427_5194 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 133px;
  left: 782px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v427_5195 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 189px;
  left: 778px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v427_5190 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 134px;
  left: 556px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v427_5191 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 190px;
  left: 556px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v427_5212 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 984px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v449_3265 {
  width: 37px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 1069px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v427_5234 {
  width: 13px;
  height: 13px;
  background: url("../images/v427_5234.png");
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 1081px;
  border: 2px solid rgba(0,0,0,1);
}
.v449_3266 {
  width: 13px;
  height: 13px;
  background: url("../images/v449_3266.png");
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 1081px;
  border: 2px solid rgba(0,0,0,1);
}
.v449_3267 {
  width: 13px;
  height: 13px;
  background: url("../images/v449_3267.png");
  opacity: 1;
  position: absolute;
  top: 195px;
  left: 1081px;
  border: 2px solid rgba(0,0,0,1);
}
.v427_5243 {
  width: 31px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 78px;
  left: 1008px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v427_5244 {
  width: 31px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 136px;
  left: 1008px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v427_5245 {
  width: 31px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 189px;
  left: 1008px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v427_3672 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 96px;
  left: 179px;
  font-family: Lexend;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v427_3673 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 152px;
  left: 172px;
  font-family: Lexend;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v427_3674 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 207px;
  left: 179px;
  font-family: Lexend;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v427_3675 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 93px;
  left: 345px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 0.5;
  text-align: left;
}
.v427_3676 {
  width: 129px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 150px;
  left: 359px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 0.5;
  text-align: left;
}
.v427_3677 {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 205px;
  left: 341px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 0.5;
  text-align: left;
}
.v427_3679 {
  width: 144px;
  color: rgba(37,44,88,0.7400000095367432);
  position: absolute;
  top: 564px;
  left: 21px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v427_5210 {
  width: 100%;
  height: 70px;
  background: rgba(234,233,228,1);
  opacity: 1;
  position: absolute;
  top: 274px;
  left: 298px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v427_5211 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 4px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v204_6775 {
  width: 297px;
  height: 23px;
  background: rgba(255,255,255,1);
  padding: 8px 12px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 809px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v204_6776 {
  width: 17px;
  height: 16px;
  background: url("../images/v204_6776.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 12px;
  overflow: hidden;
}
.v204_6777 {
  width: 17px;
  height: 16px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v204_6778 {
  width: 12px;
  height: 11px;
  background: rgba(90,124,138,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
}
.v204_6779 {
  width: 251px;
  color: rgba(154,177,187,1);
  position: absolute;
  top: 3px;
  left: 33px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v449_1384 {
  width: 126px;
  height: 23px;
  background: rgba(22,192,152,1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 5px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v449_1385 {
  width: 87px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 19px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v449_1388 {
  width: 35px;
  height: 23px;
  background: rgba(91,91,91,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1069px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v449_1389 {
  width: 28px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 3px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v449_1386 {
  width: 94px;
  height: 23px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 968px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v449_1387 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 8px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v449_1391 {
  width: 87px;
  height: 23px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 874px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v449_1392 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 10px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v449_3481 {
  width: 87px;
  height: 23px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 774px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v449_3482 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 4px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v449_1395 {
  width: 87px;
  height: 23px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 713px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v449_1396 {
  width: 53px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 17px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v449_3298 {
  width: 146px;
  height: 34px;
  background: rgba(49,62,93,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 367px;
  left: 1258px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v449_3296 {
  width: 19px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 10px;
}
.v449_3297 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 53px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
