*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 2.2vh;
    font-family: "DM sans";
}
.navbar{
       height: 60px;
       width: 100vw;
       color: white;
       background-color: #C4CFE1;
       text-align: right;
       font-size: larger;
   margin: 0%;
   padding: 0%;

       
       


}
.interval{
      width: 14vw;
      text-align: center;
    height: 4vh;
    margin: 8px 5px 8px 5px;
    border-radius:5px;
    font-size: 2.5vh;
    border: 2px solid black;
    background-color: white;

}
#interval option{
    font-size: 2.5vh;
}
th{
    font-size: 3vh;
    background-color: white;
}
td {
    font-size: 2.5vh;
    background-color: white;
}

#logo{
    height: 60px;
    margin-right: 65vw;
}
#aboutus{
     color: white;
    margin-right: 30px;
    height: 50px;
    font-size: larger;
    text-align: center;
    position:relative;
    bottom: 25px;
    text-decoration: none;
   
    z-index: 1;
}

#Settings{
    font-size: larger;
    background-color: #C4CFE1 ;
    color: white;
    border: none;
    text-align: center;
    position:relative;
    bottom: 25px; 
}
.sidebar{
background-color: #C4CFE1;
    width: 18vw;
    height:94vh;
   
}
.side.button{
    width: 16vw;
    height: 50px;
    margin: 8px 5px 8px 5px;
    border-radius:5px;
    font-size: larger;
    border: none;



}
.subbutton{
    width: 12vw;
    height: 4vh;
    margin: 8px 5px 8px 5px;
    border-radius:5px;
    font-size: larger;
    border: none;
    background-color: #344383;
    color: white;

  

}
button:hover{
    filter: brightness(50%);
}
#overview{
    margin-top: 10px;
}
#logout{

    margin-top: 25vh;
}
#per{
   background-color: black;
   color: white;
   border: 3px solid white;
   
}
div.dt-container .dt-search input {
    background-color: white;
    color: inherit;}

#content{
    padding: 0vh 1vw ;
position: absolute;
top:7vh;
left: 17.1vw;
width:82.7vw;
height:92.7vh;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: #F1F3FB;



    
#box1{
    height:6vh;
    width: 10vw;
    background-color: rgb(6, 6, 6);
    position: relative;
    right: 0vw;
    display: flex;
    justify-content: center;
}
#box2{
    height:6vh;
    width: 10vw;
    background-color: rgb(77, 77, 77);
    position: relative;
   
    right: 0vw;
display: flex;
    justify-content: center;

    
}
#lin{

position: relative;
top: 1vh;
}




    
    }
    #text{

      position: relative;
       top: 10vh;



    }
    #bar2{
         
            position: relative;
            margin: auto;
            left:0vw;
            height: 22vh;
            width: 40vw;
          
    }
#bar{
         
            position: relative;
            margin: auto;
            left:0vw;
            height: 22vh;
            width: 30vw;
          
    }
#box8{
    position: relative;
    top:-5vh;
    left: -2vw;
    margin-left: 2vh;
    height: 25vh;
}
#box9{
    top: -5vh;
    position: relative;
    margin-left: 2vh;
    height: 25vh;
}
#box6{
    width: 80vw;
    height: 28vh;
}
.stat{
    display: inline-flex;
}
.stat li{
    border-radius: 15%;
    background-color: white;
    margin: 1vh 2.5vw;
    padding: 2vh 4vw;
    font-size: 2vh;
    font-weight: 700;
}
.bar-list{
    font-size:5vh;
}

.dt-type-numeric{
  
    text-align: left;
}