*{
    margin: 0;
    padding: 0;
   


}
.navbar{
       height: 60px;
       width: 100vw;
       color: white;
       background-color: #C4CFE1;
       text-align: right;
       font-size: larger;
   margin: 0%;
   padding: 0%;

       
       


}

#logo{
    height: 60px;
    margin-right: 1000px;
    margin-left: 0px;
}
a{
    color: white;
    margin-right: 30px;
    height: 50px;
    font-size: larger;
    text-align: center;
    position:relative;
    bottom: 25px;
    text-decoration: none;
   
    
    
}

#Settings{
    font-size: larger;
    background-color: #C4CFE1 ;
    color: white;
    border: none;
    text-align: center;
    position:relative;
    bottom: 25px;
   
    
}
.sidebar{
background-color: #C4CFE1;
    width: 17vw;
    height:94vh;
   
}
button{
    width: 240px;
    height: 50px;
    margin: 8px 5px 8px 5px;
    border-radius:5px;
    font-size: larger;
    border: none;

}
#overview{
    margin-top: 10px;
}
#logout{
    margin-top: 130px;
}
#per{
   background-color: black;
   color: white;
   border: 5px solid white;
   
}
#content{
position: absolute;
top:8.2vh;
left: 17vw;
width:83.7vw;
height:91.7vh;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: #F1F3FB;



    
}

#box2{
    height:40vh;
    width: 30vw;
    background-color:white;
    position: relative;
    right: 0vw;
    display: flex;
}
#box3{
    height:40vh;
    width: 30vw;
    background-color: white;
    display: flex;
    position: relative;
    left: 6vw;
}
#box4{
    position: relative;
    top: 0vh;
    right: 5vw;
    float: right;
    display:inline-block;
}

#box5{
    
    overflow: scroll;
    height: 44vh;
    width: 83vw;
    background-color:  #c794feb7;
    position: relative;
    bottom: 0vh;
    display: flex;
    
}
#example{
   
    font-size:medium;
    
    
    background-color:rgb(215, 249, 153);
    scale:0.95;
   
}
#bar{
   width: 30vw;
   height: 45vh;
   position: relative;
   top:10vh;
   right: 5vw;
   scale: 1.1;


}
#head{
    float: left;
    position: relative;
    left: 5vw;
}
#pii{
    scale: 0.95;
    position: relative;
    right:5vw;
}

