html{
    margin: 0;
    padding: 0;
    font-size: 2.2vh;
    overflow: hidden;
    font-family: "DM sans";
}
.navbar{
       height: 60px;
       width: 100vw;
       color: white;
       background-color: #C4CFE1;
       text-align: right;
       font-size: larger;
   margin: 0%;
   padding: 0%;
   display: inline-flex;
       
       


}
ul {
  list-style: none;
}
.container.text-center{
    margin: 0;
    width: 84vw;
}
.interval{
      width: 14vw;
      text-align: center;
    height: 4vh;
    margin: 8px 5px 8px 5px;
    border-radius:5px;
    font-size: 2.5vh;
    border: 2px solid black;
    background-color: white;

}
#interval option{
    font-size: 2.5vh;
}
th{
    font-size: 3vh;
    background-color: white;
}
td {
    font-size: 2.5vh;
    background-color: white;
}

#logo{
    height: 7vh;
    margin-right: 61vw;
    margin-left: 1vw;
}
#aboutus{
     color: white;
    margin-right: 10px;
    font-size: larger;
    text-align: center;
    position:relative;
    bottom: 10px;
    text-decoration: none;
       font-size: 3vh;
    z-index: 1;
}

#Settings{
    font-size: larger;
    background-color: #C4CFE1 ;
    color: white;
    border: none;
    text-align: center;
    position:relative;
    bottom: 10px;
        font-size: 3vh;
}
.sidebar{
background-color: #C4CFE1;
    width: 17vw;
    height:94vh;
    font-size: 2.2vh;
   
}
.side.button{
    width: 16vw;
    height: 50px;
    margin: 8px 5px 8px 5px;
    border-radius:5px;
    font-size: larger;
    border: none;
}
#content {
    .dropdown-menu {
        border-color: black;
        border-width: 1;
    }
}
input{
    background-color: grey;
}
.subbutton{
    width: 12vw;
    height: 4vh;
    margin: 8px 5px 8px 5px;
    border-radius:5px;
    font-size: larger;
    border: none;
    background-color: #344383;
    color: white;

  

}
button:hover{
    filter: brightness(50%);
}
#overview{
    margin-top: 10px;
}
#logout{

    margin-top: 25vh;
}
#per{
   background-color: black;
   color: white;
   border: 3px solid white;
   
}
div.dt-container .dt-search input {
    background-color: white;
    color: inherit;}

#content{
    padding: 0vh 1vw ;
position: absolute;
top:7vh;
left: 17.1vw;
width:82.7vw;
height:92.7vh;
display: flex;
flex-direction: row;
flex-wrap: wrap;
background-color: #F1F3FB;

.card{
    height:40vh;
    margin: 0.5vw;
    font-size: 2.5vh;
    width: 23vw;
     box-shadow: 3px 3px 10px #b5b7c2;
     padding: 0;
    background-color: white;

    
#box1{
    height:6vh;
    width: 10vw;
    background-color: rgb(6, 6, 6);
    position: relative;
    right: 0vw;
    display: flex;
    justify-content: center;
}
#box2{
    height:6vh;
    width: 10vw;
    background-color: rgb(77, 77, 77);
    position: relative;
   
    right: 0vw;
display: flex;
    justify-content: center;

    
}
#lin{

position: relative;
top: 1vh;
}




    
    }
    #text{

      position: relative;
       top: 10vh;



    }
    #bar2{
         
            position: relative;
            margin: auto;
            left:0vw;
            height: 22vh;
            width: 40vw;
          
    }
#bar{
         
            position: relative;
            margin: auto;
            left:0vw;
            height: 22vh;
            width: 30vw;
          
    }
#box8{
    position: relative;
    top:-5vh;
    left: -2vw;
    margin-left: 2vh;
    height: 25vh;
}
#box9{
    top: -5vh;
    position: relative;
    margin-left: 2vh;
    height: 25vh;
}
#box6{
    width: 80vw;
    height: 28vh;
}
.stat{
    display: inline-flex;
}
.stat li{
    border-radius: 15%;
    background-color: white;
    margin: 1vh 2.5vw;
    padding: 2vh 4vw;
    font-size: 2vh;
/*    font-weight: 700;*/
}
.card-body{
    padding-top: 0;
    overflow: auto;
}

.bar-list{
    display: flex;
    padding-left: 2.5vw;
    font-size:3.2vh;
    text-align: left;
    height: 8vh;
    justify-content: space-between;
    padding-right: 2vw;
    text-overflow: ellipsis;

}
#dropdownMenuButton2{
 background-color: white;
    color: black;
    font-size: inherit;
    border: none;
    padding: 5px 10px;
}
.dropdown-menu{

}
.item1{
     padding-right: 3vw;
    padding-top: 0.9vh;
    float: right;
    font-size: 2.5vh;
      position: relative;
    top:-7.7vh;
}
.gu1{
    position: relative;
    top:-1.7vh;
     font-size: 2.5vh;
}
.min{
    padding-top: 0.5vh;
    scale: 0.8;
     width:12vw;
    overflow: hidden;
white-space: nowrap;
 text-overflow: ellipsis 
}
.notice{

    width:12vw;
    overflow: hidden;
white-space: nowrap;
 text-overflow: ellipsis 
}

a{
    text-decoration: none;
    color: black;
    
}