.menuoverview-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.overview {
  flex: 1;
  position: relative;
  line-height: 25px;
  font-weight: 500;
  white-space: pre-wrap;
}
.menu,
.menu-user {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu {
  flex: 1;
  border-radius: 15px;
  background-color: #eae9e4;
  padding: 12px 16px;
  gap: 12px;
  white-space: nowrap;
}
.menu-user {
  margin-left: -7px;
  width: 282px;
  background-color: rgba(196, 207, 225, 0.8);
  overflow: hidden;
  padding: 24px 2px 0 17px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
}
.usercirclegear-icon {
  width: 32px;
  height: 32px;
  position: relative;
  flex-shrink: 0;
}
.usercirclegear-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
}
.employees {
  margin-left: -26px;
  width: 245px;
  height: 45px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 137%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.employees-label,
.user-container,
.user-icon-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.employees-label {
  width: 219px;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
}
.user-container,
.user-icon-container {
  overflow: hidden;
  flex-direction: row;
}
.user-icon-container {
  flex: 1;
  border-radius: 15px;
  background-color: #eae9e4;
  padding: 4px 0 0 12px;
}
.user-container {
  align-self: stretch;
  background-color: rgba(196, 207, 225, 0.8);
  padding: 12px 9px;
  cursor: pointer;
}
.receipt-icon {
  width: 32px;
  height: 32px;
  position: relative;
  flex-shrink: 0;
}
.receipt-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.projects {
  margin-left: -27px;
  width: 245px;
  height: 50%;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 137%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.projects-container,
.projects-icon-container,
.projects-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.projects-label {
  width: 50%;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
}
.projects-container,
.projects-icon-container {
  flex: 1;
  flex-direction: row;
}
.projects-icon-container {
  border-radius: 50%;
  background-color: #eae9e4;
  overflow: hidden;
  padding: 4px 0 0 13px;
}
.projects-container {
  border-radius: 50%;
  background-color: rgba(225, 225, 225, 0);
  padding: 100% 9px;
  cursor: pointer;
  z-index: 1;
}
.projects-container-wrapper,
.user-container-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.projects-container-wrapper {
  flex-direction: row;
  padding: 0 0 0 1px;
  margin-top: -12px;
}
.user-container-parent {
  flex-direction: column;
}
.gear-icon {
  width: 32px;
  height: 32px;
  position: relative;
  flex-shrink: 0;
}
.gear-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
}
.onboarding1 {
  margin-left: -27px;
  width: 245px;
  height: 45px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 137%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.onboarding-wrapper {
  width: 218px;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
}
.frame-parent,
.menu-user1,
.onboarding-wrapper,
.sidebar-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  flex: 1;
  border-radius: 15px;
  background-color: #eae9e4;
  overflow: hidden;
  flex-direction: row;
  padding: 4px 0 0 13px;
}
.menu-user1,
.sidebar-content {
  align-self: stretch;
}
.menu-user1 {
  border-radius: 20px;
  background-color: rgba(49, 62, 93, 0.8);
  overflow: hidden;
  flex-direction: row;
  padding: 12px 9px;
}
.sidebar-content {
  flex-direction: column;
}
.alarm-icon {
  width: 32px;
  height: 32px;
  position: relative;
  flex-shrink: 0;
}
.attendance-bell-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
}
.attendance {
  margin-left: -27px;
  width: 245px;
  height: 45px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 137%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.attendance-label {
  width: 218px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.attendance-icon-elements,
.attendance-icon-elements-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.attendance-icon-elements {
  border-radius: 15px;
  background-color: #eae9e4;
  padding: 4px 0 0 13px;
}
.attendance-icon-elements-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(196, 207, 225, 0.8);
  padding: 0 9px 24px;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}
.wallet-icon {
  height: 32px;
  width: 32px;
  position: relative;
  min-height: 32px;
  flex-shrink: 0;
  z-index: 1;
}
.payroll-performance {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 137%;
  font-weight: 500;
  font-family: "DM Sans";
  color: #000;
  text-align: center;
}
.payroll-label,
.wallet-parent {
  display: flex;
  box-sizing: border-box;
}
.payroll-label {
  width: 220px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
  flex-shrink: 0;
  margin-left: -2px;
}
.wallet-parent {
  cursor: pointer;
  border: 0;
  padding: 10px 14px 7px;
  background-color: #eae9e4;
  position: absolute;
  top: 59px;
  left: 8px;
  border-radius: 15px;
  width: 263px;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 1;
}
.attendance-icon-container {
  height: 108px;
  flex: 1;
  position: relative;
}
.attendance-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 1px;
}
.leaf-icon {
  width: 32px;
  height: 32px;
  position: relative;
  flex-shrink: 0;
}
.leaves-icon-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.leaves {
  margin-left: -27px;
  width: 245px;
  height: 45px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 137%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.leaves-container,
.leaves-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.leaves-label {
  width: 218px;
  flex-direction: column;
  padding: 0;
}
.leaves-container {
  height: 48px;
  flex: 1;
  border-radius: 15px;
  background-color: #eae9e4;
  overflow: hidden;
  flex-direction: row;
  padding: 4px 0 8px 13px;
}
.attendance-container-parent,
.leaves-container-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.leaves-container-wrapper {
  background-color: rgba(196, 207, 225, 0.8);
  overflow: hidden;
  flex-direction: row;
  padding: 4px 9px;
  cursor: pointer;
}
.attendance-container-parent {
  flex-direction: column;
  padding: 0 0 349px;
  gap: 8px;
}
.logout-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 4px 0 0;
  box-sizing: border-box;
}
.logout {
  width: 156px;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.logout-button {
  flex: 1;
  border-radius: 15px;
  background-color: #0d152a;
  flex-direction: row;
  padding: 12.5px 16px;
  gap: 12px;
  opacity: 0.75;
}
.left-sidebar,
.logout-button,
.logout-button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logout-button-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 10px 0 9px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: Inter;
}
.left-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c4cfe1;
  border-right: 3px solid rgba(49, 62, 93, 0.8);
  box-sizing: border-box;
  width: 282px;
  overflow: hidden;
  flex-direction: column;
  padding: 133px 0 17px;
  gap: 12px;
  cursor: pointer;
  color: #000;
  font-family: "DM Sans";
}
.search-icon {
  height: 21.5px;
  width: 20px;
  position: relative;
}
.search-placeholder {
  width: calc(100% - 68px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19.7px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.7px 0 0;
  box-sizing: border-box;
  font-family: "DM Sans";
  font-size: 16px;
  color: #9ab1bb;
  min-width: 199px;
}
.keyboard-voice-icon {
  height: 22.5px;
  width: 24px;
  position: relative;
  min-height: 23px;
}
.search-bar,
.search-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.search-bar {
  align-self: stretch;
  border-radius: 32px;
  background-color: #fff;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 11.3px 12px 11.2px;
  gap: 4px;
}
.search-container {
  width: 382px;
  flex-direction: column;
  padding: 12px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 287px);
}
.hruser {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  min-width: 102px;
}
.user-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 21px 0 0;
}
.user-dropdown-background {
  height: 63px;
  width: 54px;
  position: relative;
  border-radius: 7px;
  object-fit: contain;
}
.arrow-drop-down-icon {
  width: 24px;
  height: 24px;
  position: relative;
}
.user-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 28px 0 0;
}
.dropdown-content-icon {
  height: 46px;
  width: 127px;
  position: absolute;
  margin: 0 !important;
  bottom: 11px;
  left: -116px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.search-container-parent,
.user-profile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.user-profile {
  justify-content: flex-start;
  padding: 0 2px 11px 85px;
  position: relative;
  row-gap: 20px;
  cursor: pointer;
}
.search-container-parent {
  position: absolute;
  top: calc(50% - 511px);
  left: 281px;
  background-color: #c4cfe1;
  border-bottom: 3px solid rgba(49, 62, 93, 0.8);
  box-sizing: border-box;
  width: 1163px;
  height: 76px;
  overflow: hidden;
  justify-content: space-between;
  padding: 3px 18px 16px 375px;
  gap: 20px;
  max-width: 100%;
  z-index: 2;
  text-align: left;
  font-family: Outfit;
}
.main-content-child {
  align-self: stretch;
  width: 315.4px;
  position: relative;
  border-radius: 15.53px;
  background-color: #7f67e0;
  display: none;
}
.candidate-card-background {
  align-self: stretch;
  width: 5.8px;
  position: relative;
  border-radius: 15.53px 0 0 15.53px;
  background-color: #29c5ee;
  z-index: 1;
}
.sr-ux-designer {
  position: relative;
  display: inline-block;
  min-width: 123px;
  z-index: 1;
}
.location-on-white-24dp-1-icon {
  height: 15.5px;
  width: 15.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.bengaluru {
  position: relative;
  font-size: 12.6px;
  line-height: 13px;
  font-weight: 500;
  font-family: Urbanist;
  color: #fee;
  text-align: center;
  display: inline-block;
  min-width: 56px;
}
.location-on-white-24dp-1-parent,
.locations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.2px 0 0;
}
.location-on-white-24dp-1-parent {
  cursor: pointer;
  border: 0;
  padding: 5.9px 11px 5.8px;
  background-color: #282828;
  border-radius: 23.29px;
  flex-direction: row;
  gap: 3.9px;
  flex-shrink: 0;
  z-index: 1;
}
.experience-icons {
  height: 151.4px;
  width: 151.4px;
  position: absolute;
  margin: 0 !important;
  top: -98px;
  right: -103.2px;
  filter: blur(77.64px);
  border-radius: 50%;
  background-color: rgba(24, 92, 222, 0.4);
  z-index: 1;
}
.school-white-24dp-1-icon {
  height: 15.5px;
  width: 15.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.years-exp {
  align-self: stretch;
  position: relative;
  line-height: 13px;
  font-weight: 500;
  display: inline-block;
  min-width: 67px;
}
.education-years {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.2px 0 0;
}
.experience {
  flex: 1;
  border-radius: 23.29px;
  background-color: #282828;
  padding: 5.9px 11px 5.8px;
  gap: 5.9px;
  flex-shrink: 0;
  z-index: 2;
}
.experience,
.experience-education,
.location-experience-education {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.experience-education {
  flex: 1;
  position: relative;
}
.location-experience-education {
  width: 238.1px;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 7.8px;
}
.status-placeholder {
  position: relative;
  display: inline-block;
  min-width: 61px;
  z-index: 1;
}
.fulfilled {
  align-self: stretch;
  position: relative;
  white-space: pre-wrap;
  z-index: 1;
}
.application-fulfilled,
.application-status-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.application-fulfilled {
  width: 47px;
  flex-direction: column;
  padding: 26.2px 0 0;
  box-sizing: border-box;
  margin-left: -1.5px;
  font-size: 13px;
}
.application-status-icons {
  flex-direction: row;
}
.in-last-week {
  position: relative;
  line-height: 140%;
  display: inline-block;
  min-width: 76px;
  z-index: 1;
}
.application-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24.3px 0 0;
  font-size: 11.6px;
  color: #00ff82;
}
.application-status {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 38.8px;
  color: #fff;
}
.candidate-details {
  align-self: stretch;
  justify-content: flex-start;
  gap: 15.5px;
  font-size: 12.6px;
  color: #fee;
}
.candidate-details,
.candidate-info,
.candidate-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.candidate-info {
  align-self: stretch;
  justify-content: flex-start;
  gap: 41.1px;
}
.candidate-info-wrapper {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 15.2px;
}
.main-content,
.main-content-item {
  width: 315.4px;
  border-radius: 15.53px;
}
.main-content {
  position: absolute;
  top: 244px;
  left: 285px;
  background-color: #7f67e0;
  height: 182.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 15px 0 0;
  box-sizing: border-box;
  gap: 9.7px;
  font-size: 17.5px;
}
.main-content-item {
  align-self: stretch;
  position: relative;
  background-color: #3743aa;
  display: none;
}
.main-content-inner {
  align-self: stretch;
  width: 5.8px;
  border-radius: 15.53px 0 0 15.53px;
  background-color: #b72c3a;
}
.growth-manager,
.main-content-inner {
  position: relative;
  z-index: 1;
}
.location-on-white-24dp-1-icon1 {
  height: 15.5px;
  width: 15.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.remote {
  position: relative;
  font-size: 12.6px;
  line-height: 13px;
  font-weight: 500;
  font-family: Urbanist;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 44px;
}
.location-on-white-24dp-1-group,
.remote-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.2px 0 0;
}
.location-on-white-24dp-1-group {
  cursor: pointer;
  border: 0;
  padding: 5.9px 11px 5.8px;
  background-color: #282828;
  border-radius: 23.29px;
  flex-direction: row;
  gap: 3.9px;
  flex-shrink: 0;
  z-index: 1;
}
.frame-child {
  height: 151.4px;
  width: 151.4px;
  position: absolute;
  margin: 0 !important;
  top: -98px;
  right: -107.2px;
  filter: blur(77.64px);
  border-radius: 50%;
  background-color: #ff283e;
  z-index: 1;
}
.school-white-24dp-1-icon1 {
  height: 15.5px;
  width: 15.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.years-exp1 {
  align-self: stretch;
  position: relative;
  line-height: 13px;
  font-weight: 500;
  display: inline-block;
  min-width: 75px;
}
.years-exp-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.2px 0 0;
}
.school-white-24dp-1-parent {
  flex: 1;
  border-radius: 23.29px;
  background-color: #282828;
  padding: 5.9px 11px 5.8px;
  gap: 5.9px;
  flex-shrink: 0;
  z-index: 2;
}
.ellipse-parent,
.frame-container,
.school-white-24dp-1-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-parent {
  flex: 1;
  position: relative;
}
.frame-container {
  width: 234.1px;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 7.8px;
}
.b,
.fulfilled1 {
  position: relative;
  z-index: 1;
}
.b {
  display: inline-block;
  min-width: 57px;
}
.fulfilled1 {
  align-self: stretch;
  white-space: pre-wrap;
}
.fulfilled-wrapper,
.parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fulfilled-wrapper {
  width: 47px;
  flex-direction: column;
  padding: 24.7px 0 0;
  box-sizing: border-box;
  font-size: 13px;
}
.parent {
  flex-direction: row;
  gap: 5.8px;
}
.in-last-week1 {
  position: relative;
  line-height: 140%;
  display: inline-block;
  min-width: 73px;
  z-index: 1;
}
.in-last-week-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24.3px 0 0;
  text-align: right;
  font-size: 11.6px;
  color: #00ff82;
}
.frame-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 38.8px;
}
.frame-group {
  align-self: stretch;
  justify-content: flex-start;
  gap: 15.5px;
  font-size: 12.6px;
}
.frame-div,
.frame-group,
.growth-manager-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.growth-manager-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: 41.1px;
}
.frame-div {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 15.2px;
}
.main-content1,
.rectangle-div {
  width: 315.4px;
  border-radius: 15.53px;
}
.main-content1 {
  position: absolute;
  top: 244px;
  left: 623.7px;
  background-color: #3743aa;
  height: 182.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 15px 0 0;
  box-sizing: border-box;
  gap: 9.7px;
  font-size: 17.5px;
}
.rectangle-div {
  align-self: stretch;
  position: relative;
  background-color: #8a389e;
  display: none;
}
.main-content-child1 {
  align-self: stretch;
  width: 5.8px;
  border-radius: 15.53px 0 0 15.53px;
  background-color: #eab04d;
}
.financial-analyst,
.main-content-child1 {
  position: relative;
  z-index: 1;
}
.location-on-white-24dp-1-icon2 {
  height: 15.5px;
  width: 15.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.mumbai {
  position: relative;
  font-size: 12.6px;
  line-height: 13px;
  font-weight: 500;
  font-family: Urbanist;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 47px;
}
.location-on-white-24dp-1-container,
.mumbai-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.2px 0 0;
}
.location-on-white-24dp-1-container {
  cursor: pointer;
  border: 0;
  padding: 5.9px 11px 5.8px;
  background-color: #282828;
  border-radius: 23.29px;
  flex-direction: row;
  gap: 3.9px;
  flex-shrink: 0;
  z-index: 1;
}
.frame-item {
  height: 151.4px;
  width: 151.4px;
  position: absolute;
  margin: 0 !important;
  top: -105.7px;
  right: -104.2px;
  filter: blur(77.64px);
  border-radius: 50%;
  background-color: rgba(255, 161, 0, 0.2);
  z-index: 1;
}
.school-white-24dp-1-icon2 {
  height: 15.5px;
  width: 15.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.years-exp2 {
  position: relative;
  line-height: 13px;
  font-weight: 500;
  display: inline-block;
  min-width: 75px;
}
.years-exp-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.2px 0 0;
}
.school-white-24dp-1-group {
  border-radius: 23.29px;
  background-color: #282828;
  padding: 5.9px 11px 5.8px;
  gap: 5.9px;
  flex-shrink: 0;
  z-index: 2;
}
.ellipse-group,
.frame-parent3,
.school-white-24dp-1-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-group {
  position: relative;
}
.frame-parent3 {
  padding: 0 20px 0 0;
  gap: 7.8px;
}
.b1,
.fulfilled2 {
  display: inline-block;
}
.b1 {
  position: relative;
  min-width: 61px;
  z-index: 1;
}
.fulfilled2 {
  width: 60px;
  position: absolute;
  margin: 0 !important;
  right: -47.6px;
  bottom: 4.8px;
  font-size: 13px;
  white-space: pre-wrap;
  z-index: 2;
}
.group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.in-last-week2 {
  position: relative;
  line-height: 140%;
  display: inline-block;
  min-width: 76px;
  z-index: 1;
}
.in-last-week-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24.3px 0 0;
  font-size: 11.6px;
  color: #00ff82;
}
.frame-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 38.8px;
}
.frame-parent2 {
  align-self: stretch;
  justify-content: flex-start;
  gap: 15.5px;
  font-size: 12.6px;
}
.financial-analyst-parent,
.frame-parent2,
.main-content-inner1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.financial-analyst-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: 41.1px;
}
.main-content-inner1 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 15.2px;
}
.main-content2 {
  position: absolute;
  top: 244px;
  left: 962.4px;
  border-radius: 15.53px;
  background-color: #8a389e;
  width: 315.4px;
  height: 182.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 15px 0 0;
  box-sizing: border-box;
  gap: 9.7px;
  font-size: 17.5px;
}
.main-content-child2 {
  align-self: stretch;
  width: 315.4px;
  position: relative;
  border-radius: 15.53px;
  background-color: #e65555;
  display: none;
}
.main-content-child3 {
  align-self: stretch;
  width: 5.8px;
  position: relative;
  border-radius: 15.53px 0 0 15.53px;
  background-color: #19c8a7;
  z-index: 1;
}
.fulfilled3,
.saved-status-icon {
  position: relative;
  display: inline-block;
  min-width: 51px;
  z-index: 1;
}
.fulfilled3 {
  min-width: 41px;
}
.candidate-saved-status,
.fulfilled-icon-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fulfilled-icon-container {
  flex-direction: column;
  padding: 26.2px 0 0;
  font-size: 13px;
}
.candidate-saved-status {
  flex-direction: row;
  gap: 14.1px;
}
.in-last-week3 {
  align-self: stretch;
  height: 16px;
  position: relative;
  line-height: 140%;
  display: inline-block;
  z-index: 1;
}
.last-week-indicator {
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24.3px 0 0;
  box-sizing: border-box;
  text-align: right;
  font-size: 11.6px;
  color: #00ff82;
}
.candidate-saved-status-parent {
  position: absolute;
  top: 144.6px;
  left: 0;
  width: 284.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.security-analyst {
  position: absolute;
  top: 39.8px;
  left: 0;
  font-size: 17.5px;
  display: inline-block;
  min-width: 129px;
  z-index: 1;
}
.location-on-white-24dp-1-icon3 {
  height: 15.5px;
  width: 15.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.new-delhi {
  position: relative;
  line-height: 13px;
  font-weight: 500;
  display: inline-block;
  min-width: 56px;
}
.location-on-white-24dp-1-parent1,
.new-delhi-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.2px 0 0;
}
.location-on-white-24dp-1-parent1 {
  position: absolute;
  top: 101.9px;
  left: 0;
  border-radius: 23.29px;
  background-color: #282828;
  flex-direction: row;
  padding: 5.9px 11px 5.8px;
  gap: 3.9px;
  z-index: 1;
}
.school-white-24dp-1-icon3 {
  height: 15.5px;
  width: 15.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.years-exp3 {
  align-self: stretch;
  height: 13px;
  position: relative;
  line-height: 100%;
  font-weight: 500;
  display: inline-block;
}
.education-year,
.school-white-24dp-1-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.education-year {
  flex: 1;
  flex-direction: column;
  padding: 1.2px 0 0;
}
.school-white-24dp-1-container {
  position: absolute;
  top: 101.9px;
  left: 106.5px;
  border-radius: 23.29px;
  background-color: #282828;
  width: 111.6px;
  flex-direction: row;
  padding: 5.9px 11px 5.8px;
  box-sizing: border-box;
  gap: 5.8px;
  z-index: 1;
}
.skill-icon {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(77.64px);
  border-radius: 50%;
  background-color: rgba(25, 200, 167, 0.15);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.frame-inner {
  position: absolute;
  top: 32.1px;
  left: 82.5px;
  width: 46.6px;
  height: 46.6px;
  z-index: 3;
}
.skill-icon-parent {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 163.1px;
  width: 151.4px;
}
.security-analyst-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 314.5px;
  height: 151.4px;
  text-align: center;
  font-size: 12.6px;
}
.frame-parent5 {
  align-self: stretch;
  height: 191.6px;
  position: relative;
}
.main-content-inner2 {
  height: 182.5px;
  width: 123.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 15.2px;
  box-sizing: border-box;
}
.main-content3 {
  position: absolute;
  top: 244px;
  left: 1301.1px;
  border-radius: 15.53px;
  background-color: #e65555;
  width: 315.4px;
  height: 182.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 9.7px;
  text-align: left;
  font-size: 38.8px;
}
.current-openings {
  position: absolute;
  top: 170px;
  left: 265px;
  font-size: 32px;
  display: inline-block;
  color: #000;
  width: 329px;
  height: 39px;
  cursor: pointer;
}
.frame-child1 {
  height: 38.8px;
  width: 118.4px;
  position: relative;
  border-radius: 31.06px;
  background-color: rgba(196, 207, 225, 0.8);
  display: none;
}
.sort-by-latest {
  position: relative;
  line-height: 140%;
  display: inline-block;
  min-width: 74px;
  z-index: 1;
}
.arrow-down-icon {
  width: 15.5px;
  height: 15.5px;
  position: relative;
  z-index: 1;
}
.sort-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.frame-child2,
.rectangle-parent {
  background-color: rgba(196, 207, 225, 0.8);
}
.rectangle-parent {
  position: absolute;
  top: 173px;
  left: 1295px;
  border-radius: 31.06px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11.6px 11px 10.7px;
  gap: 5.6px;
  text-align: left;
  font-size: 11.6px;
  color: #000;
}
.frame-child2 {
  width: 1078px;
  height: 559px;
  position: relative;
  border-radius: 15.53px;
  display: none;
  max-width: 100%;
}
.new-employees1 {
  margin: 0;
}
.new-employees {
  width: 371px;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
}
.frame-child3 {
  height: 38.8px;
  width: 130px;
  position: relative;
  border-radius: 31.06px;
  background-color: rgba(136, 95, 255, 0.8);
  display: none;
}
.filter-by {
  position: relative;
  line-height: 140%;
  display: inline-block;
  min-width: 75px;
  z-index: 1;
}
.arrow-down-icon1 {
  width: 19.1px;
  height: 15.5px;
  position: relative;
  z-index: 1;
}
.filter-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6.6px 0 0;
}
.frame-child4,
.rectangle-container {
  border-radius: 31.06px;
  background-color: rgba(136, 95, 255, 0.8);
}
.rectangle-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 14px 4.8px;
  gap: 7.3px;
  z-index: 2;
}
.frame-child4 {
  height: 38.8px;
  width: 105.8px;
  position: relative;
  display: none;
}
.march-2023 {
  position: relative;
  line-height: 140%;
  display: inline-block;
  min-width: 61px;
  z-index: 1;
}
.arrow-down-icon2 {
  width: 15.5px;
  height: 15.5px;
  position: relative;
  z-index: 1;
}
.arrow-down-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.group-div {
  border-radius: 31.06px;
  background-color: rgba(136, 95, 255, 0.8);
  flex-direction: row;
  padding: 11.6px 11px 10.7px;
  gap: 6px;
  z-index: 2;
  font-size: 11.6px;
}
.frame-parent6,
.group-div,
.new-employees-filter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent6 {
  flex-direction: row;
  gap: 8px;
}
.new-employees-filter {
  flex-direction: column;
  padding: 5px 0 0;
  font-size: 20px;
}
.new-employees-container,
.new-employees-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.new-employees-header {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.new-employees-container {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 16px 0 10px;
  box-sizing: border-box;
}
.candidate-name {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.candidate-details1 {
  width: 172.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.8px 0 0;
  box-sizing: border-box;
}
.rating {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.attribute-labels {
  width: 66px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
  box-sizing: border-box;
}
.rating-placeholder-icon {
  width: 25.1px;
  height: 19.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 21px 0 0;
}
.departments {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.attribute-labels-parent,
.attribute-labels1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.attribute-labels1 {
  flex-direction: column;
  padding: 3px 0 0;
}
.attribute-labels-parent {
  flex-direction: row;
  gap: 1.8px;
  min-width: 164px;
}
.departments-placeholder-icon {
  width: 25.1px;
  height: 19.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.departments-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 36px 0 0;
}
.applied-role {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.applied-role-container,
.candidate-attributes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.applied-role-container {
  width: 181px;
  flex-direction: column;
  padding: 1.8px 0 0;
  box-sizing: border-box;
}
.candidate-attributes {
  width: 495.6px;
  flex-direction: row;
  row-gap: 20px;
  max-width: 100%;
}
.onboarding-date {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
  flex-shrink: 0;
}
.onboarding-date-label {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.onboarding-date-placeholder {
  align-self: stretch;
  width: 25.1px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 19px;
}
.onboarding-date-container {
  width: 194.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.status {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
  min-width: 54px;
}
.candidate-details2,
.candidate-info1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.8px 0 0;
}
.candidate-info1 {
  align-self: stretch;
  border-radius: 7.76px;
  background-color: #262626;
  flex-direction: row;
  padding: 11.6px 19px 11.7px;
  box-sizing: border-box;
  gap: 22.7px;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
  font-size: 13.6px;
  color: #fff;
}
.charlie-kristen {
  width: 135.9px;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.vuesaxlinearstar-icon {
  width: 15.5px;
  height: 15.5px;
  position: relative;
}
.employee-skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.empty-cell {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.employee-details {
  width: 71.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.9px;
}
.design-challenge,
.empty-cell1,
.sr-ux-designer1 {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.empty-cell1,
.sr-ux-designer1 {
  width: 135.9px;
  display: inline-block;
  flex-shrink: 0;
}
.empty-cell1 {
  width: 150.4px;
}
.attach-file-black-24dp-1-icon {
  width: 15.5px;
  height: 15.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.attachment-icon-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.7px 0 0;
}
.files {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
  min-width: 44px;
  flex-shrink: 0;
}
.employee-card,
.file-attachments {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.6px;
}
.employee-card {
  align-self: stretch;
  justify-content: space-between;
  padding: 23.3px 60px 23.3px 19px;
  flex-shrink: 0;
  gap: 20px;
  cursor: pointer;
  z-index: 3;
}
.employee-card-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #272727;
  box-sizing: border-box;
  z-index: 2;
}
.malaika-brown {
  width: 135.9px;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.vuesaxlinearstar-icon1 {
  height: 15.5px;
  width: 15.5px;
  position: relative;
}
.empty-cell2 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.employee-stars {
  width: 71.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.9px;
}
.screening {
  width: 135.9px;
  display: inline-block;
  flex-shrink: 0;
}
.growth-manager1,
.save-changes-cell,
.screening {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.save-changes-cell {
  width: 150.4px;
  display: inline-block;
  flex-shrink: 0;
}
.attach-file-black-24dp-1-icon1 {
  width: 15.5px;
  height: 15.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.attachment-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.7px 0 0;
}
.file {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
  flex-shrink: 0;
}
.attachments {
  width: 63.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.9px;
}
.employee-card-inner,
.malaika-brown-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.malaika-brown-parent {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.employee-card-inner {
  justify-content: flex-start;
  padding: 0 19px;
}
.employee-card-inner,
.employee-card-item,
.employee-card1 {
  align-self: stretch;
  box-sizing: border-box;
}
.employee-card1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 32px 23.3px 0;
  gap: 22.3px;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 3;
}
.employee-card-item {
  height: 1px;
  position: relative;
  border-top: 1px solid #272727;
  z-index: 4;
}
.simon-minter {
  width: 135.9px;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.vuesaxlinearstar-icon2 {
  height: 15.5px;
  width: 15.5px;
  position: relative;
}
.div {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.vuesaxlinearstar-parent {
  width: 71.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.9px;
}
.design-challenge1,
.div1,
.financial-analyst1 {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.div1 {
  width: 150.4px;
  display: inline-block;
  flex-shrink: 0;
}
.attach-file-black-24dp-1-icon2 {
  width: 15.5px;
  height: 15.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.attach-file-black-24dp-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.7px 0 0;
}
.files1 {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
  min-width: 45px;
}
.frame-parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.9px;
}
.employee-card-inner1,
.simon-minter-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.simon-minter-parent {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.employee-card-inner1 {
  justify-content: flex-start;
  padding: 0 19px;
}
.employee-card-inner1,
.employee-card2,
.interview-item-child {
  align-self: stretch;
  box-sizing: border-box;
}
.employee-card2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 32px 23.3px 0;
  gap: 22.3px;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 5;
}
.interview-item-child {
  height: 1px;
  position: relative;
  border-top: 1px solid #272727;
  z-index: 6;
}
.ashley-brooke {
  width: 135.9px;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.vuesaxlinearstar-icon3 {
  width: 15.5px;
  height: 15.5px;
  position: relative;
}
.star-containers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.empty-cell3 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.interview-stars {
  width: 71.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.9px;
}
.hr-round {
  width: 135.9px;
  display: inline-block;
  flex-shrink: 0;
}
.empty-cell4,
.financial-analyst2,
.hr-round {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.empty-cell4 {
  width: 150.4px;
  display: inline-block;
  flex-shrink: 0;
}
.attach-file-black-24dp-1-icon3 {
  width: 15.5px;
  height: 15.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.attachment-icons1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.8px 0 0;
}
.files2 {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
  min-width: 44px;
  flex-shrink: 0;
}
.attachments1,
.interview-details,
.interviewer-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.attachments1 {
  justify-content: flex-start;
  gap: 3.6px;
}
.interview-details,
.interviewer-info {
  max-width: 100%;
}
.interviewer-info {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.interview-details {
  justify-content: flex-start;
  padding: 0 19px;
}
.interview-details,
.interview-item,
.interview-item-item {
  align-self: stretch;
  box-sizing: border-box;
}
.interview-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 32px 23.4px 0;
  gap: 22.2px;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 7;
}
.interview-item-item {
  height: 1px;
  position: relative;
  border-top: 1px solid #272727;
  z-index: 8;
}
.nishant-talwar {
  width: 135.9px;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.vuesaxlinearstar-icon4 {
  width: 15.5px;
  height: 15.5px;
  position: relative;
}
.vuesaxlinearstar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.div2 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.frame-parent8 {
  width: 71.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.9px;
}
.div3,
.round-2-interview,
.sr-ux-designer2 {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.div3,
.sr-ux-designer2 {
  width: 135.9px;
  display: inline-block;
  flex-shrink: 0;
}
.div3 {
  width: 150.4px;
}
.attach-file-black-24dp-1-icon4 {
  width: 15.5px;
  height: 15.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.attach-file-black-24dp-1-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.8px 0 0;
}
.files3 {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
  min-width: 45px;
}
.frame-parent9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.9px;
}
.interview-item-inner,
.nishant-talwar-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.nishant-talwar-parent {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.interview-item-inner {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 19px;
  box-sizing: border-box;
}
.interview-item1 {
  padding: 0 32px 23.3px 0;
  box-sizing: border-box;
  gap: 22.3px;
  z-index: 9;
  margin-top: -0.1px;
}
.interview-item1,
.interview-list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  max-width: 100%;
}
.line-div {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #272727;
  box-sizing: border-box;
  z-index: 10;
}
.mark-jacobs {
  width: 135.9px;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.vuesaxlinearstar-icon5 {
  width: 15.5px;
  height: 15.5px;
  position: relative;
}
.vuesaxlinearstar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.div4 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.frame-parent10 {
  width: 71.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.9px;
}
.it {
  width: 135.9px;
  display: inline-block;
  flex-shrink: 0;
}
.growth-manager2,
.it {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.save-changes {
  position: absolute;
  margin: 0 !important;
  bottom: -16.1px;
  left: -27.4px;
  line-height: 24px;
  font-weight: 500;
}
.empty-cell5 {
  flex: 1;
  position: relative;
  font-size: 15.5px;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-family: Urbanist;
  color: #171616;
}
.save-changes-parent {
  width: 150.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  font-size: 20px;
  color: #e7f2f7;
  font-family: Inter;
}
.attach-file-black-24dp-1-icon5 {
  width: 15.5px;
  height: 15.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.attach-file-black-24dp-1-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.7px 0 0;
}
.file1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
  flex-shrink: 0;
}
.frame-parent11,
.mark-jacobs-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent11 {
  width: 63.1px;
  justify-content: flex-start;
  gap: 3.9px;
}
.mark-jacobs-parent {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.employee-card-inner2,
.employee-card3 {
  align-self: stretch;
  box-sizing: border-box;
}
.employee-card-inner2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 19px;
  max-width: 100%;
}
.employee-card3 {
  padding: 0 32px 23.3px 0;
  gap: 22.3px;
  flex-shrink: 0;
  z-index: 11;
}
.employee-card-list,
.employee-card3,
.rectangle-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.employee-card-list {
  align-self: stretch;
  font-size: 15.5px;
  color: #171616;
}
.rectangle-group {
  position: absolute;
  top: 454px;
  left: 323px;
  border-radius: 15.53px;
  background-color: rgba(196, 207, 225, 0.8);
  width: 1078px;
  padding: 22px 16px 23.8px;
  box-sizing: border-box;
  gap: 33.2px;
  z-index: 1;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: Urbanist;
}
.new-employees-label-child {
  position: absolute;
  top: 2px;
  left: 0;
  background-color: #c4cfe1;
  border: 1px solid rgba(49, 62, 93, 0.8);
  box-sizing: border-box;
  width: 578px;
  height: 56px;
  cursor: pointer;
  z-index: 3;
}
.new-employees2 {
  position: absolute;
  height: 100%;
  top: 0;
  left: 108px;
  letter-spacing: 0.02em;
  line-height: 137%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 385px;
  white-space: nowrap;
  z-index: 4;
}
.new-employees-label {
  position: absolute;
  top: 75px;
  left: 282px;
  width: 578px;
  height: 58px;
  text-align: center;
  font-size: 24px;
  color: #000;
  font-family: "DM Sans";
}
.onboarding-child {
  position: absolute;
  top: 77px;
  left: 862px;
  background-color: #c4cfe1;
  border: 1px solid rgba(49, 62, 93, 0.8);
  box-sizing: border-box;
  width: 578px;
  height: 56px;
  cursor: pointer;
  z-index: 3;
}
.onboarding-item {
  position: absolute;
  top: 133px;
  left: 859px;
  background-color: rgba(49, 62, 93, 0.8);
  width: 56px;
  height: 3px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 4;
}
.current-openings1 {
  position: absolute;
  top: 77px;
  left: 951px;
  letter-spacing: 0.02em;
  line-height: 137%;
  font-weight: 500;
  font-family: "DM Sans";
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 385px;
  height: 58px;
  z-index: 4;
}
.onboarding {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-family: Urbanist;
}
@media screen and (max-width: 1000px) {
  .candidate-info1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 975px) {
  .b,
  .b1,
  .saved-status-icon,
  .status-placeholder {
    font-size: 31px;
  }
  .current-openings,
  .new-employees {
    font-size: 26px;
  }
  .employee-card,
  .interviewer-info,
  .malaika-brown-parent,
  .mark-jacobs-parent,
  .nishant-talwar-parent,
  .simon-minter-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 725px) {
  .user-profile {
    flex-wrap: wrap;
  }
  .search-container-parent {
    height: auto;
  }
  .candidate-attributes,
  .new-employees-header {
    flex-wrap: wrap;
  }
  .onboarding {
    height: auto;
    min-height: 1024;
  }
}
@media screen and (max-width: 450px) {
  .attendance,
  .employees,
  .onboarding1,
  .projects {
    font-size: 19px;
    line-height: 26px;
  }
  .payroll-performance {
    font-size: 16px;
    line-height: 22px;
  }
  .leaves {
    line-height: 26px;
  }
  .hruser,
  .leaves {
    font-size: 19px;
  }
  .b,
  .b1,
  .saved-status-icon,
  .status-placeholder {
    font-size: 23px;
  }
  .current-openings,
  .new-employees {
    font-size: 19px;
  }
  .filter-by,
  .save-changes {
    font-size: 16px;
    line-height: 22px;
  }
  .save-changes {
    line-height: 19px;
  }
}
