.menuoverview-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.overview1 {
  flex: 1;
  position: relative;
  line-height: 25px;
  font-weight: 500;
  white-space: pre-wrap;
}
.menu-wrapper,
.menu1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu1 {
  flex: 1;
  border-radius: 15px;
  background-color: #eae9e4;
  padding: 12px 16px;
  gap: 12px;
  white-space: nowrap;
}
.menu-wrapper {
  margin-left: -9px;
  width: 282px;
  background-color: rgba(196, 207, 225, 0.8);
  overflow: hidden;
  padding: 24px 2px 0 17px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
}
.usercirclegear-icon1 {
  width: 32px;
  height: 32px;
  position: relative;
  flex-shrink: 0;
}
.action-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
}
.employees1 {
  margin-left: -26px;
  width: 245px;
  height: 45px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 137%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.employees-wrapper,
.user-actions-icons,
.user-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.employees-wrapper {
  width: 219px;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
}
.user-actions-icons,
.user-icons {
  overflow: hidden;
  flex-direction: row;
}
.user-icons {
  flex: 1;
  border-radius: 15px;
  background-color: #eae9e4;
  padding: 4px 0 0 12px;
}
.user-actions-icons {
  align-self: stretch;
  background-color: rgba(196, 207, 225, 0.8);
  padding: 12px 9px;
  flex-shrink: 0;
  cursor: pointer;
}
.receipt-icon1 {
  width: 32px;
  height: 32px;
  position: relative;
  flex-shrink: 0;
}
.receipt-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.projects1 {
  margin-left: -27px;
  width: 245px;
  height: 45px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 137%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.frame-parent12,
.projects-wrapper,
.user-actions-icons1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.projects-wrapper {
  width: 218px;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
}
.frame-parent12,
.user-actions-icons1 {
  flex-direction: row;
}
.frame-parent12 {
  flex: 1;
  border-radius: 15px;
  background-color: #eae9e4;
  overflow: hidden;
  padding: 4px 0 0 13px;
}
.user-actions-icons1 {
  align-self: stretch;
  border-radius: 20px;
  background-color: rgba(196, 207, 225, 0.8);
  padding: 12px 9px;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
  margin-top: -12px;
}
.gear-icon1 {
  width: 32px;
  height: 32px;
  position: relative;
  flex-shrink: 0;
}
.gear-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
}
.onboarding2 {
  margin-left: -27px;
  width: 245px;
  height: 45px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 137%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.onboarding-container {
  width: 218px;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
}
.frame-parent13,
.onboarding-container,
.user-actions,
.user-actions-icons2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent13 {
  flex: 1;
  border-radius: 15px;
  background-color: #eae9e4;
  overflow: hidden;
  flex-direction: row;
  padding: 4px 0 0 13px;
}
.user-actions,
.user-actions-icons2 {
  align-self: stretch;
}
.user-actions-icons2 {
  background-color: rgba(196, 207, 225, 0.8);
  overflow: hidden;
  flex-direction: row;
  padding: 12px 9px;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 2;
  margin-top: -12px;
}
.user-actions {
  flex-direction: column;
  padding: 0 1px 0 0;
}
.alarm-icon2 {
  width: 32px;
  height: 32px;
  position: relative;
  flex-shrink: 0;
}
.bell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
}
.attendance1 {
  margin-left: -27px;
  width: 245px;
  height: 45px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 137%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.attendance-wrapper {
  width: 218px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.alarm-bell {
  flex: 1;
  border-radius: 15px;
  background-color: #eae9e4;
  overflow: hidden;
  padding: 4px 0 0 13px;
}
.alarm-bell,
.alarm-icon-wrapper,
.alarm-icon1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.alarm-icon1 {
  flex: 1;
  background-color: rgba(196, 207, 225, 0.8);
  overflow: hidden;
  padding: 0 9px 24px;
  cursor: pointer;
}
.alarm-icon-wrapper {
  align-self: stretch;
  padding: 0 0 0 1px;
}
.wallet-icon1 {
  height: 32px;
  width: 32px;
  position: relative;
  min-height: 32px;
  flex-shrink: 0;
  z-index: 1;
}
.payroll-performance1 {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 137%;
  font-weight: 500;
  font-family: "DM Sans";
  color: #000;
  text-align: center;
}
.payroll-performance-wrapper {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
  box-sizing: border-box;
  flex-shrink: 0;
  margin-left: -2px;
}
.notifications,
.payroll,
.wallet-group {
  display: flex;
  justify-content: flex-start;
}
.wallet-group {
  cursor: pointer;
  border: 0;
  padding: 10px 14px 7px;
  background-color: #eae9e4;
  width: 263px;
  border-radius: 15px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-end;
  box-sizing: border-box;
}
.notifications,
.payroll {
  align-self: stretch;
  align-items: flex-start;
}
.payroll {
  background-color: rgba(196, 207, 225, 0.8);
  overflow: hidden;
  flex-direction: row;
  padding: 0 9px 8px;
  cursor: pointer;
  z-index: 1;
  margin-top: -8px;
}
.notifications {
  flex-direction: column;
}
.leaf-icon1 {
  height: 32px;
  width: 32px;
  position: relative;
}
.leaves2 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 33px;
  font-weight: 500;
}
.leaves-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 1px;
  margin-left: -15px;
}
.leaf-parent,
.leaves1,
.navigation {
  display: flex;
  justify-content: flex-start;
}
.leaf-parent {
  flex: 1;
  border-radius: 15px;
  background-color: #eae9e4;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  padding: 7px 12px 8px;
}
.leaves1,
.navigation {
  align-self: stretch;
  align-items: flex-start;
}
.leaves1 {
  border-radius: 20px;
  background-color: rgba(49, 62, 93, 0.8);
  overflow: hidden;
  flex-direction: row;
  padding: 10px 7px 11px 11px;
  cursor: pointer;
}
.navigation {
  flex-direction: column;
}
.logout-icon1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon1 {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 4px 0 0;
  box-sizing: border-box;
}
.logout2 {
  width: 156px;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.logout-button1 {
  flex: 1;
  border-radius: 15px;
  background-color: #0d152a;
  flex-direction: row;
  padding: 12.5px 16px;
  gap: 12px;
  opacity: 0.75;
  cursor: pointer;
}
.content,
.logout-button1,
.logout1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logout1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 10px 0 9px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: Inter;
}
.content {
  width: 282px;
  background-color: #c4cfe1;
  border-right: 3px solid rgba(49, 62, 93, 0.8);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 150px 0 17px;
  gap: 348px;
}
.search-icon1 {
  height: 21.5px;
  width: 20px;
  position: relative;
}
.search-placeholder1 {
  width: calc(100% - 68px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19.7px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.7px 0 0;
  box-sizing: border-box;
  font-family: "DM Sans";
  font-size: 16px;
  color: #9ab1bb;
  min-width: 199px;
}
.keyboard-voice-icon1 {
  height: 22.5px;
  width: 24px;
  position: relative;
  min-height: 23px;
}
.input-fields,
.search-input-fields {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.search-input-fields {
  align-self: stretch;
  border-radius: 32px;
  background-color: #fff;
  flex-direction: row;
  padding: 11.3px 12px 11.2px;
  gap: 4px;
}
.input-fields {
  width: 382px;
  flex-direction: column;
  padding: 12px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 287px);
}
.hruser1 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  min-width: 102px;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 21px 0 0;
}
.dropdown-background-icon {
  height: 63px;
  width: 54px;
  position: relative;
  border-radius: 7px;
  object-fit: contain;
}
.arrow-drop-down-icon1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.arrow-drop-down-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 28px 0 0;
}
.dropdown-placeholder-icon {
  height: 46px;
  width: 127px;
  position: absolute;
  margin: 0 !important;
  bottom: 11px;
  left: -116px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.search-input,
.user-dropdown1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.user-dropdown1 {
  justify-content: flex-start;
  padding: 0 2px 11px 85px;
  position: relative;
  cursor: pointer;
}
.search-input {
  margin-right: -6px;
  align-self: stretch;
  height: 76px;
  background-color: #c4cfe1;
  border-bottom: 3px solid rgba(49, 62, 93, 0.8);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 3px 18px 16px 375px;
  max-width: 100%;
  gap: 20px;
}
.statistics {
  text-decoration: none;
  position: relative;
  font-weight: 300;
  color: inherit;
  display: inline-block;
  min-width: 122px;
}
.table-headers {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px 0 0;
}
.frame-child5 {
  width: 2px;
  height: 49px;
  position: relative;
  border-right: 2px solid #fff;
  box-sizing: border-box;
}
.header-row-inner {
  height: 47px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 7px 0 0;
  box-sizing: border-box;
}
.requests {
  text-decoration: none;
  position: relative;
  font-weight: 300;
  color: inherit;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 121px;
}
.requests-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
  color: #fff;
}
.header-row,
.select-all1 {
  display: flex;
  flex-shrink: 0;
}
.header-row {
  width: 277px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: rgba(51, 51, 51, 0.5);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 3px 7px 16px;
  box-sizing: border-box;
  gap: 3px;
  cursor: pointer;
}
.select-all1 {
  margin-top: -5px;
  margin-left: -181px;
  width: 177px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}
.hugeiconstick-03 {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.select-all,
.select-all-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.select-all-button {
  align-self: stretch;
  border-radius: 15px;
  background-color: #eceff1;
  overflow: hidden;
  flex-direction: row;
  padding: 2px 15px 3px 146px;
  gap: 4px;
  white-space: nowrap;
}
.select-all {
  flex: 1;
  flex-direction: column;
  padding: 0 6px 0 0;
  box-sizing: border-box;
  min-width: 128px;
}
.approve,
.hugeiconstick-031 {
  position: relative;
  flex-shrink: 0;
}
.approve {
  margin-top: -5px;
  margin-left: -181px;
  width: 177px;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hugeiconstick-031 {
  height: 30px;
  width: 30px;
  overflow: hidden;
}
.actions-labels {
  width: 191px;
  border-radius: 15px;
  background-color: #eceff1;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 15px 3px 146px;
  box-sizing: border-box;
  gap: 4px;
}
.charmcross-icon,
.reject {
  position: relative;
  flex-shrink: 0;
}
.reject {
  margin-top: -6px;
  margin-left: -185px;
  width: 177px;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.charmcross-icon {
  height: 30px;
  width: 30px;
  overflow: hidden;
}
.actions-labels1 {
  width: 191px;
  border-radius: 15px;
  background-color: #eceff1;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 3px 11px 2px 150px;
  box-sizing: border-box;
  gap: 8px;
}
.action-buttons,
.action-buttons-wrapper,
.actions-labels1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.action-buttons {
  margin: 0;
  align-self: stretch;
  flex-direction: row;
  gap: 9px;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  color: #000;
  font-family: "DM Sans";
}
.action-buttons-wrapper {
  width: 597px;
  flex-direction: column;
  padding: 12px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.table,
.table-header-rows {
  align-self: stretch;
  max-width: 100%;
}
.table-header-rows {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.table {
  flex: 1;
  position: relative;
}
.data-table {
  align-self: stretch;
  height: 406px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 29px 0 27px;
  box-sizing: border-box;
}
.data-table,
.table-header,
.table-header-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.table-header {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 65px;
}
.table-header-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 3px 19.9px 12px;
  box-sizing: border-box;
  text-align: left;
  font-size: 28px;
  color: #000;
  font-family: Lexend;
}
.second-table-child,
.table1 {
  align-self: stretch;
  position: relative;
}
.second-table-child {
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
.table1 {
  flex: 1;
  max-width: 100%;
}
.second-table,
.second-table-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.second-table-container {
  flex: 1;
  flex-direction: row;
  padding: 0 23px 0 15px;
}
.second-table {
  height: 250.1px;
  flex-direction: column;
  padding: 0 0 0 3px;
  gap: 64.1px;
}
.leaves-requests,
.search {
  display: flex;
  justify-content: flex-start;
  font-size: 24px;
}
.search {
  width: 1157px;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  max-width: 100%;
  text-align: left;
  color: #fff;
  font-family: Outfit;
}
.leaves-requests {
  position: relative;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  gap: 1px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  font-family: "DM Sans";
}
@media screen and (max-width: 1350px) {
  .search-input {
    padding-left: 187px;
    box-sizing: border-box;
  }
  .second-table {
    gap: 32px;
  }
  .leaves-requests {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .content {
    padding-top: 97px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .table-header-rows {
    flex-wrap: wrap;
  }
  .table-header {
    gap: 32px;
  }
}
@media screen and (max-width: 800px) {
  .search-input {
    padding-left: 93px;
    box-sizing: border-box;
  }
  .action-buttons {
    flex-wrap: wrap;
  }
  .second-table,
  .table-header {
    gap: 16px;
  }
}
@media screen and (max-width: 450px) {
  .attendance1,
  .employees1,
  .onboarding2,
  .projects1 {
    font-size: 19px;
    line-height: 26px;
  }
  .payroll-performance1 {
    font-size: 16px;
    line-height: 22px;
  }
  .leaves2 {
    font-size: 19px;
    line-height: 26px;
  }
  .content {
    gap: 174px;
    padding-top: 63px;
    box-sizing: border-box;
  }
  .search-input-fields {
    flex-wrap: wrap;
  }
  .hruser1 {
    font-size: 19px;
  }
  .search-input,
  .user-dropdown1 {
    padding-left: 20px;
    box-sizing: border-box;
  }
  .search-input {
    height: auto;
  }
  .requests,
  .statistics {
    font-size: 22px;
  }
  .actions-labels,
  .actions-labels1,
  .select-all-button {
    padding-left: 20px;
    box-sizing: border-box;
  }
}
